name: Lint and Test

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    branches:
      - main
      - staging

jobs:
  test:
    name: Run static tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install dependencies
        run: |
          bun install
          cd api && bun install

      - name: Run typecheck
        run: |
          bun run --cwd apps/app tsc
          bun run --cwd apps/dashboard tsc
          bun run --cwd api prisma generate
          bun run --cwd api tsc
